/* --------------------note Section Start ---------------------------- */

.main-note-section{}
.main-note-section .note-item-area{}
.main-note-section .note-item-area .note-button{
    border: none;
    background: none;
    color: #FFF;
    font-family: Gilroy;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 10px;
    border-bottom: 3px solid #C8D8FB;
    background: #FFC300;
    padding: 15px 30px;
    display: inline-block;
    margin-right: 12px;
}
.main-note-section .note-item-area .active-note-button{
    border-radius: 10px;
border-bottom: 3px solid  #203864;
background: #FFC300;
}
@media all and (max-width:480px) {
    .main-note-section .note-item-area .note-button {
      
        font-size: 18px;
       
        padding: 15px 15px;
      
        margin-right: 0px;
    }
    .main-note-section .note-item-area {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
@media all and (max-width:359px) {
    .main-note-section .note-item-area .note-button {
        font-size: 16px;
        padding: 11px 14px;
        margin-right: 0px;
    }

}

@media all and (max-width:320px) {
    .main-note-section .note-item-area .note-button {
        font-size: 15px;
        padding: 10px 12px;
        margin-right: 0px;
    }

}



.note-details-box-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 26px;
    flex-wrap: wrap;
}
.note-details-box-area .note-box-item{
    flex-basis: 23%;
    padding: 15px;
    border-radius: 20px;
background: #F2F8FF;
}
.note-details-box-area .note-box-item .note-box-image{
    position: relative;
}
.note-details-box-area .note-box-item .note-box-image .note-image{
    height: auto;
    width: 100%;
}
.note-details-box-area .note-box-item .note-box-image .dot-icon {
	position: absolute;
	top: 3px;
	right: 4px;
	cursor: pointer;
}
.note-details-box-area .note-box-item .note-box-details{}
.note-details-box-area .note-box-item .note-box-details .note-heading-text{
    color:  #364E79;
font-family: Gilroy;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin: 10px 0px;
}
.note-details-box-area .note-box-item .note-box-details .details-text{
    color: #8C90B6;
font-family: Gilroy;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */
margin-bottom: 12px;
}
.note-details-box-area .note-box-item .note-box-details .assign-area{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.note-details-box-area .note-box-item .note-box-details .assign-area .assing-link{
    display: inline-block;
}
.note-details-box-area .note-box-item .note-box-details .assign-area .assing-link .assing-image{}

.note-details-box-area .note-box-item .note-box-details .assign-area .assign-text{
    color:  #364E79;
font-family: Gilroy;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */
margin: 0px;
margin-left: 15px;
}
.cusotm-margin{
    margin-left: -10px;
  

}


@media all and (max-width:991px) {
    .note-details-box-area .note-box-item{
        flex-basis: 45%;
        margin-bottom: 40px;
      
    }
    .note-details-box-area .note-box-item .note-box-image .dot-icon {
        position: absolute;
        top: 11px;
        right: 13px;
        cursor: pointer;
        height: 40px;
        width: 40px;
    }
}
@media all and (max-width:576px) {
    .note-details-box-area .note-box-item{
        flex-basis: 95%;
        margin-bottom: 40px;
      
    }
}
@media screen and (min-width: 992px) and (max-width: 1155px) {
    .note-details-box-area .note-box-item {
        flex-basis: 24%;
        padding: 15px 10px;
      
    }
    .note-details-box-area .note-box-item .note-box-details .note-heading-text {
       
        font-size: 14px;
     
        margin: 8px 0px;
    }
    .note-details-box-area .note-box-item .note-box-details .details-text {
        
        line-height: 15px;
        margin-bottom: 8px;
    }
}
/* --------------------note Section End ---------------------------- */

/* *************************************************************** */
/* *****************02-view-book pages start*********************** */
/* *************************************************************** */

/* --------------------Notepad Section Start ---------------------------- */
.header-right{}
.header-right .save-button{
    color: #FFF;
    text-align: center;
    font-family: Gilroy;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 120% */
    letter-spacing: -0.4px;
    border-radius: 10px;
border-bottom: 3px solid var(--Primary-Y, #FFC300);
background: #314C80;
padding: 15px 30px;
}
.notepad-header-section{
    display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}


.notepad-header-section .left-header-area{
    flex-basis: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 140px;
background: #FAFAFA;
}

.notepad-header-section .left-header-area .description-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    background:  #FFC300;
    padding: 15px 07px;
    border: none;
}
.notepad-header-section .left-header-area .description-button .btn-text{ 
    color: #FFF;
    font-family: Gilroy;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

 
}

.notepad-header-section .left-header-area .icon-button .icon-image {
	height: 24px;
	width: 24px;
}
.notepad-header-section .left-header-area .description-button .description-color{
height: 22px;
width: 22px;
border-radius: 50%;
background:    #EDDBFF;
display: block;
margin-right: 7px;
}
.notepad-header-section .right-header-area{
    flex-basis: 70%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 140px;
    border: 1px solid #EFF3FC;
    background: #FAFAFA;
    padding: 11px 14px;
    margin-left: 31px;
}
.line{
    margin: 0px 15px;
}
.line .line-icon{}
.notepad-header-section .right-header-area .right-header-item{

display: flex;
justify-content: flex-start;
align-items: center;
}
.notepad-header-section .right-header-area .right-header-item .edit-button{
    margin: 0px 5px;
}
.notepad-header-section .right-header-area .right-header-item .edit-button .edit-icon{
    height: 24px;
    width: 24px;
}
.notepad-header-section .right-header-area .right-header-item .item-button .item-icon{}


.notepad-header-section .right-header-area .right-header-item .color-plate{
    height: 24px;
    width: 24px;
    background: #fff;
    border-radius: 50%;
    margin: 0px 5px;
    display: flex;
  justify-content: center;
  align-content: center;
}
.notepad-header-section .right-header-area .right-header-item .black{

    background: #060807;
 
}
.notepad-header-section .right-header-area .right-header-item .active-color{
    border: 0.5px solid #060807;
    padding: 1px;
}
.notepad-header-section .right-header-area .right-header-item .skyblue{

    background: #448CF6;
 
}

.notepad-header-section .right-header-area .right-header-item .red{

    background: #F03E53;
 
}

.notepad-header-section .right-header-area .right-header-item .green{

    background: #6BD174;
 
}

.color-plus{
    height: 24px;
    width: 24px;
    border-radius: 50%;
}

.notepad-header-section .right-header-area .right-header-item .text-style {
	margin: 0px 5px;
}

.notepad-header-section .right-header-area .right-header-item .text-style .style-icon{
height: 24px;
width: 24px;
  
 
}


.main-notepad-section {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}
.main-notepad-section .left-area{
    flex-basis: 30%;
}


.main-notepad-section .left-area .left-description-item-area{
    margin-top: 12px;
}
.main-notepad-section .left-area .left-description-item-area .left-description-item{

}
.main-notepad-section .left-area .left-description-item-area .left-description-item .left-description-button{
    border-radius: 10px;
border-bottom: 3px solid #FFE89F;
background: #FFC300;
padding: 17px;
margin-bottom: 10px;
display: flex;
justify-content: space-between;
align-items: center;
width: 100%;
}
.main-notepad-section .left-area .left-description-item-area .left-description-item .left-description-button .icon{
    margin-right: 10px;
}
.main-notepad-section .left-area .left-description-item-area .left-description-item .left-description-button .note-text{
    color: #FFF;
font-family: Gilroy;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.main-notepad-section .left-area .left-description-item-area .left-description-item .left-description-button .study-notes-name{
    color:  #364E79;
    font-variant-numeric: lining-nums tabular-nums;
    font-family: Gilroy;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
}
.main-notepad-section .left-area .left-description-item-area .left-description-item .left-description-button .note-date{
    color: #A0A3BD;
    font-variant-numeric: lining-nums tabular-nums;
    font-family: Gilroy;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.border-none{
    border: none !important;
}
.main-notepad-section .right-area{
    flex-basis: 70%;
    padding-left: 31px;

}



.main-notepad-area{}
.main-notepad-area .notepad-box-area{
    border-radius: 20px;
background: #EDDBFF;
padding: 32px 17px;
}
.main-notepad-area .notepad-box-area .note-form{}
.main-notepad-area .notepad-box-area .note-form .form-group{
    position: relative;
}
.main-notepad-area .notepad-box-area .note-form .form-group .input-box {
	border: none;
	background: none;
	color: var(--Grey, #A0A3BD);
	font-variant-numeric: lining-nums tabular-nums;
	font-family: Gilroy;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	border-radius: 20px;
	background: #FFF;
	padding: 11px 115px 11px 35px;
	width: 100%;
}
.main-notepad-area .notepad-box-area .note-form .form-group .input-date {
	color: var(--Grey, #A0A3BD);
	font-variant-numeric: lining-nums tabular-nums;
	font-family: Gilroy;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	position: absolute;
	right: 10px;
	top: 13px;
}

.main-notepad-area .notepad-box-area .note-form .form-group .text-area{
    color: var(--Grey, #A0A3BD);
    font-family: Gilroy;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    resize: none;
    width: 100%;
    height: 500px;
    margin-top: 60px;
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .notepad-header-section .left-header-area .description-button {
        padding: 8px 5px;
    }
    .notepad-header-section .left-header-area .description-button .description-color {
        height: 16px;
        width: 16px;

        margin-right: 3px;
    }
    .notepad-header-section .left-header-area .icon-button .icon-image {
        height: 16px;
        width: 16px;
    }
    .notepad-header-section .left-header-area .description-button .btn-text {

        font-size: 12px;
       
    }
    .notepad-header-section .right-header-area .right-header-item .color-plate {
        height: 16px;
        width: 16px;
      
        margin: 0px 3px;
    }
    .color-plus {
        height: 16px;
        width: 16px;
        
    }
    .notepad-header-section .right-header-area {
       
        padding: 11px 0px;
       
    }
    .notepad-header-section .right-header-area .right-header-item .text-style .style-icon {
        height: 20px;
        width: 20px;
    }
    .notepad-header-section .right-header-area .right-header-item .text-style .style-icon {
        height: 20px;
        width: 20px;
    }
    .main-notepad-section .left-area .left-description-item-area .left-description-item .left-description-button .note-text {
       
        font-size: 16px;
      
    }
    .main-notepad-section .left-area .left-description-item-area .left-description-item .left-description-button .study-notes-name {

        font-size: 15px;

    }
    .main-notepad-section .left-area .left-description-item-area .left-description-item .left-description-button {
       
        padding: 17px 10px;
      
    }
    .main-notepad-section .left-area .left-description-item-area .left-description-item .left-description-button .note-date {
       
        font-size: 12px;
       
    }
    .main-notepad-area .notepad-box-area .note-form .form-group .input-date {
        font-size: 15px;

    }
    .main-notepad-area .notepad-box-area .note-form .form-group .input-box {
      
        font-size: 15px;

    }
    .main-notepad-area .notepad-box-area .note-form .form-group .text-area {

        font-size: 16px;

        margin-top: 30px;
    }
    .main-notepad-section .left-area .left-description-item-area .left-description-item .left-description-button .note-text {
       
        font-size: 16px;
       
    }
   
}


@media all and (max-width:991px) {
    .notepad-header-section .left-header-area .description-button {
        padding: 8px 5px;
    }
    .notepad-header-section .left-header-area .description-button .description-color {
        height: 16px;
        width: 16px;

        margin-right: 3px;
    }
    .notepad-header-section .left-header-area .icon-button .icon-image {
        height: 16px;
        width: 16px;
    }
    .notepad-header-section .left-header-area .description-button .btn-text {

        font-size: 12px;
       
    }
    .notepad-header-section .right-header-area .right-header-item .color-plate {
        height: 16px;
        width: 16px;
      
        margin: 0px 3px;
    }
    .color-plus {
        height: 16px;
        width: 16px;
        
    }
    .notepad-header-section .right-header-area {
       
        padding: 11px 0px;
       
    }
    .notepad-header-section .right-header-area .right-header-item .text-style .style-icon {
        height: 20px;
        width: 20px;
    }
    .notepad-header-section .right-header-area .right-header-item .text-style .style-icon {
        height: 20px;
        width: 20px;
    }
    .notepad-header-section .right-header-area {
        padding: 5px 0px;
    }
    .main-notepad-section .left-area .left-description-item-area .left-description-item .left-description-button .study-notes-name {

        font-size: 15px;

    }
    .main-notepad-section .left-area .left-description-item-area .left-description-item .left-description-button {
       
        padding: 17px 10px;
      
    }
    .main-notepad-section .left-area .left-description-item-area .left-description-item .left-description-button .note-date {
       
        font-size: 12px;
       
    }
    .main-notepad-area .notepad-box-area .note-form .form-group .input-date {
        font-size: 15px;

    }
    .main-notepad-section .left-area .left-description-item-area .left-description-item .left-description-button .note-date {
       
        font-size: 12px;
       
    }
    .main-notepad-area .notepad-box-area .note-form .form-group .input-date {
        font-size: 15px;

    }
    .main-notepad-area .notepad-box-area .note-form .form-group .input-box {
      
        font-size: 15px;

    }
    .main-notepad-area .notepad-box-area .note-form .form-group .text-area {

        font-size: 16px;

        margin-top: 30px;
    }
    .main-notepad-section .left-area .left-description-item-area .left-description-item .left-description-button .note-text {
       
        font-size: 16px;
       
    }
    .header-right .save-button {
      
        font-size: 18px;
      
        padding: 9px 30px;
    }
    .back-arrow .arrow {
  
        height: 30px;
        width: 30px;
    }
}

@media all and (max-width:767px) {
    .notepad-header-section {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    .notepad-header-section .left-header-area {
        flex-basis: 60%;
       
    }
    .notepad-header-section .right-header-area {
        flex-basis: 90%;

        margin-left: 0px;
    }
    .notepad-header-section .left-header-area .description-button {
        padding: 10px 10px;
    }
    .notepad-header-section .left-header-area .description-button .description-color {
        height: 20px;
        width: 20px;

        margin-right: 3px;
    }
    .notepad-header-section .left-header-area .icon-button .icon-image {
        height: 20px;
        width: 20px;
    }
    .notepad-header-section .left-header-area .description-button .btn-text {

        font-size: 14px;
       
    }
    .notepad-header-section .right-header-area .right-header-item .color-plate {
        height: 20px;
        width: 20px;
      
        margin: 0px 3px;
    }
    .color-plus {
        height: 20px;
        width: 20px;
        
    }
    .notepad-header-section .right-header-area {
       
        padding: 11px 0px;
       
    }
    .notepad-header-section .right-header-area .right-header-item .text-style .style-icon {
        height: 20px;
        width: 20px;
    }
    .notepad-header-section .right-header-area .right-header-item .text-style .style-icon {
        height: 20px;
        width: 20px;
    }
    .main-notepad-section {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    .main-notepad-section .left-area {
        flex-basis: 100%;
    }
    .main-notepad-section .right-area {
        flex-basis: 100%;
        padding-left: 0;
    }
    .main-notepad-section .left-area .left-description-item-area .left-description-item .left-description-button {
        padding: 17px 17px;
    }
}

@media all and (max-width:576px) {
    .notepad-header-section .right-header-area .right-header-item .text-style {
        margin: 0px 1px;
    }
    .notepad-header-section .right-header-area .right-header-item .edit-button {
        margin: 0px 3px;
    }
    .notepad-header-section .right-header-area .right-header-item .color-plate {
        height: 15px;
        width: 15px;
        margin: 0px 3px;
    }
    .color-plus {
        height: 15px;
        width: 15px;
    }
    .notepad-header-section .right-header-area .right-header-item .text-style .style-icon {
        height: 16px;
        width: 16px;
    }
    .notepad-header-section .right-header-area {
        padding: 2px 0px;
    }
}

@media all and (max-width:480px) {
    .line {
        margin: 0px 3px;
    }
    .line .line-icon {
        height: 23px;
    }
    .notepad-header-section .right-header-area .right-header-item .edit-button .edit-icon {
        height: 16px;
        width: 16px;
    }
    .notepad-header-section .right-header-area {
        flex-basis: 100%;
        margin-left: 0px;
        justify-content: space-between;
    }
    .notepad-header-section .left-header-area {
        flex-basis: 80%;
    }
    .notepad-header-section .left-header-area .icon-button .icon-image {
        height: 16px;
        width: 16px;
    }
    .main-notepad-area .notepad-box-area .note-form .form-group .text-area {
      
        height: 330px;
  
    }
}
/* --------------------Notepad Section End ---------------------------- */

